<h1>Coder Academy Meetup App</h1>

<h2>Welcome <%= current_user.first_name.capitalize %></h2>

<div>
  <p><%= current_user.inspect %></p>
</div>

<%#= month_calendar do |date| %>
  <%#= date.day %>
<%# end %>

<!--
<%#= month_calendar events: @events do |date, events| %>
  <%#= date %>

  <%# events.each do |event| %>
    <div>
      <%#= event.name %>
    </div>
  <%# end %>
<%# end %>
-->