/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*/
// External stylesheets
@import "bootstrap";
@import "simple_calendar";

// Define variables
$off-white: #fbfbfb;
$lgrey: #EFF3F6;
$dblue: #133A5C;
$lblue: #00A7CA;

// Import partials
@import "navbar";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $lgrey;
  color: $dblue;
}

a {
  color: $lblue;

  &:hover {
    color: $dblue;
    // text-decoration: none;
  }
}

$starColour: #16a085;
$starHoverColour: #1abc9c;

@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating > a {
  display: inline-block;
  position: relative;
  width: 1em;
  font-family: sans-serif;
}

.home-index {
  .rating > a:hover,
  .rating > a:hover ~ a {
    color: transparent;
  }
  .rating > a:hover:before,
  .rating > a:hover ~ a:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: $lblue;
  }
}

// .rating-star-link:hover {
//   color: red;
//   text-decoration: none;
// }

.attending-buttons {
  a:nth-of-type(1):hover {
    color: green;
  }

  a:nth-of-type(2):hover {
    color: red;
  }

  i {
    text-align: center;
    border: 2px solid;
    padding: 4px;
    border-radius: 5px;
    font-size: 1.5em;
    height: 35px;
    width: 35px;
  }
}


body.home-index {
  .flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    // flex-direction: column;
  }
}

@media (min-width: 650px) {

}